<html>
	<head>
	<meta charset="utf-8" />
    <link rel="icon" href="{{ url_for('static', filename='images/file.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" value = "Index | DBMS">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/59b8e18344.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>  
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script> 
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <title>Display | Sports Management System</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">			
    <script>
        function setActive(id){
            var elements = document.getElementsByClassName('tab-link selected-tab');
            while(elements.length > 0){
                elements[0].classList.remove('selected-tab');
            }
            var ele = document.getElementById(id);
            ele.classList.add("selected-tab");   
        }
        function getHash(){
            var hash = window.location.hash.substr(1);
            setActiveFirst(hash+'1');
        }
    
        function setActiveFirst(id){
            var ele = document.getElementById(id);
            console.log(id);
            ele.classList.add("selected-tab"); 
        }
    
        window.onload = function(){
            setTimeout(getHash, 1);
        }
    </script>	
</head>
<body>
    <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
        <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbar"
        >
            <span class="navbar-toggler-icon"></span> 
        </button>
        <div class = "collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" id="home" href="/">Home</a>
                <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                {% else %}
                <a class="nav-item nav-link" id="adminLogin" href="/admin-login">Admin Login</a>
                <a class="nav-item nav-link" id="login" href="/login">Login</a>
                <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                {% endif %}
                
            </div>
        </div>
    </nav>
    <div class="container" >
        <ul class="tab-nav">
            {% for key, value in tables_dict.items() %}
                <li>
                    {% if key not in ['Users', 'Students', 'Faculty', 'Staff', 'User_phone', 'Event_coordinator', 'User_Issue'] %}
                        <a class = "delete-entry" href="/rename/{{key}}">✏</a>
                    {% endif %}
                    {% if key in ['Users', 'Students', 'Faculty', 'Staff', 'User_phone', 'Event_coordinator', 'User_Issue'] %}
                        <a class = "delete-entry"></a>
                    {% endif %}
                    <a class = "delete-entry"  href="/where/{{key}}">🔍</a>
                    &nbsp;&nbsp;
                    <a href="#{{key}}" class="tab-link" style="text-decoration: none;" id = "{{key}}1" onclick="setActive('{{key}}1')">{{key}}</a>
                </li>
            {% endfor %}
        </ul>
        <br>
        {% for key, value in tables_dict.items() %}
            <div id="{{key}}" class="tab-content">
                <form method="POST" action = "/display#{{key}}">
                    <h3 class="msg" style="color:red">{{msg}} </h3>
                    <input  type = "text" value="{{key}}" id="keyaa" name="keyaa" style="display: none;"/>
                    {% for column_name in value %}
                    <div class="form-group">
                        <label for="{{column_name}}">{{column_name}}</label>
                        <input type="text" class="form-control" id="{{column_name}}" name="{{column_name}}" placeholder="Enter {{column_name}}"/>      
                    </div>
                    {% endfor %}
                    <br />
                    <button type="submit" class="btn btn-primary">Insert Data</button>
                </form>

                <br>
                <div align="center">
                <table class = "interactive_table" style="text-align: center; margin-left:auto; margin-right: auto;" align="center">
                    <thead>
                        <tr>
                            {% for column_name in value %}
                                <th style="text-align: center; font-size: 1.2em; padding: 30px; color: #368F8B; border: 0.5px solid gray;">{{column_name}}</th>
                            {% endfor %}
                                <th style="text-align: center; font-size: 1.2em; padding: 30px; color: #368F8B; border: 0.5px solid gray;">   </th>
                        </tr>
                    <thead>
                    <br>
                    <tbody>
                        {% for table_name, table_content in table_data.items() %}
                            {% if table_name == key %}
                                {% for table_row in table_content %}
                                    <tr>
                                        {% for i,j in table_row.items() %}
                                            <td style="padding: 5px; color: black; border: 0.5px solid gray;" data-name="update" class="update" data-type="text" data-pk="{{table_name}},{{table_row[tables_dict[table_name][0]]}},{{i}}">{{table_row[i]}}</td>
                                        {% endfor %}
                                        {% set delete_end_point = {'e':''} %}
                                        {% for i in table_row.keys()%}
                                        {% if delete_end_point.update({'e':delete_end_point.e ~ i ~ "=" ~ table_row[i] ~ "&"}) %} {% endif %}
                                        {% endfor %}
                                        <td style = "padding: 5px; border: 0.5px solid gray;"><a class = "delete-entry" href="/delete/{{ table_name }}?{{ delete_end_point['e'] }}">X</a></td>
                                      </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        $(document).ready( function () {
            $('.interactive_table').editable({
                container:'body',
                selector:'td.update',
                url:'/update',
                title:'update',
                type:'POST',
                validate:function(value){
                    if($.trim(value) == '')
                    {
                        return 'This field is required';
                    }
                }
            })
            var dataTable = $('.interactive_table').DataTable({
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "iDisplayLengtg": 3,
            });
        } );
    </script>
	</body>
</html>